# You need to log in to get packages from nexus 3:
# npm login --registry https://nexus.atm.osp.tech/repository/npm-group/

registry=https://registry.npmjs.org/

save-prefix=''
legacy-peer-deps=true
always-auth=true
